@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Consultas</h3>

<address>
    La Uruca De Aserri<br />
    Costado Este de la Iglesia Catolica<br />
    <abbr title="Phone">Telefono:</abbr>
    2416-0000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>